<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.AppHotel"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="cli-6.5.0" />
        <preference name="OpenAllWhitelistURLsInWebView" value="true" />
        
        <access origin ="*.google.com"/>
        <access origin ="*.googleapis.com"/>
        
        <name>AppHotel</name>

        <description>
            Aplicación de prueba para hoteles.
        </description>

        <author href="#" email="yazmin777@gmail.com">
            Yazmin Pelaez
        </author>

        <icon src="img/icon.png" />
        <splash src="img/splash.png" />

        <plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0"  />
        <plugin name="cordova-plugin-geolocation" source="npm" spec="2.0.0" />

        <access origin ="*"/>
        <allow-intent href="*" />
        <allow-navigation href="*" />

    </widget>
